*
  box-sizing: border-box
  font-family: d-din, sans-serif

body
  background-color: #F5F8FB
  
a
  text-decoration: unset

p
  margin-bottom: 1em

input, select, textarea
  -moz-appearance: none
  -webkit-appearance: none
  appearance: none
  border: unset


.flex-r
  display: flex
  flex-direction: row
.flex-r.v-center
  align-items: center
.flex-r.v-top
  align-items: flex-start
.flex-r.v-btm
  align-items: flex-end
.flex-r.h-center
  justify-content: center
.flex-r.h-left
  justify-content: start
.flex-r.h-right
  justify-content: end
.flex-r.just-space
  justify-content: space-between
.flex-c
  display: flex
  flex-direction: column
.flex-c.h-center
  align-items: center
.flex-c.h-left
  align-items: flex-start
.flex-c.h-right
  align-items: flex-end
.flex-c.v-center
  justify-content: center
.flex-c.v-top
  justify-content: start
.flex-c.v-btm
  justify-content: end
.flex-center
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center


::-webkit-scrollbar 
  width: 8px
  height: 8px
  border-radius: 23px


::-webkit-scrollbar-track 
  background: rgba(100, 164, 213, 0.1)
  border-radius: 23px


::-webkit-scrollbar-thumb 
  background: #2E86C6
  border-radius: 23px


::-webkit-scrollbar-thumb:hover 
  background: #2E86C6


@mixin responsive-xxl
  @media all and (min-width: 1300px) 
    @content

@mixin responsive-xl
  @media all and (max-width: 1260px) 
    @content

@mixin responsive-l
  @media all and (max-width: 1200px) 
    @content

@mixin responsive
  @media all and (max-width: 994px) 
    @content