.documentation-header
    @extend .section
    background: url('assets/documentation-header-bg.png') no-repeat, linear-gradient(85.6deg, #5763CD -25.13%, #3CDBE5 111.73%)
    background-position: center
    background-size: 100% auto
    padding-top: 160px
    padding-bottom: 98px
    @include responsive-l
        background-size: auto 100%
    &__title
        margin: auto
        margin-bottom: 8px
        font-weight: 700
        font-size: 80px
        line-height: 130%
        text-align: center
        letter-spacing: -0.02em
        text-transform: capitalize
        color: #FFFFFF
        font-family: d-din-bold, sans-serif
        @include responsive
            font-size: 62px
    &__subtitle
        font-weight: 700
        font-size: 20px
        line-height: 130%
        text-align: center
        letter-spacing: -0.02em
        text-transform: capitalize
        color: #FFFFFF
        margin: auto


.documentation-content
    @extend .section
    background-color: white
    .container
        display: flex
        @include responsive
            flex-direction: column
    &__side
        padding-top: 64px
        padding-bottom: 64px
        padding-right: 45px
        border-right: 2px solid rgba(243, 243, 243, 1)
        max-width: 258px
        width: 100%
        @include responsive
            padding-top: 30px
            padding-bottom: unset
            padding-right: unset
            border-bottom: 2px solid rgba(243, 243, 243, 1)
            max-width: unset
            border-right: unset
        &__link
            display: block
            margin-bottom: 32px
            font-weight: 400
            font-size: 18px
            line-height: 140%
            letter-spacing: -0.05em
            color: #B7B7B7
            &.active, &:hover
                color: #40445B 
                span 
                    color: #B7B7B7
            &.collapse img 
                transform: rotate(0deg)
                @include responsive 
                    transform: rotate(180deg)
            img
                width: 10px
                height: 10px
                margin-left: 10px
                transform: rotate(180deg)
                transition: all 200ms ease
                @include responsive
                    transform: rotate(0deg)
        &__link-group
            display: block
            @include responsive
                display: none
            &.collapse
                display: none
                @include responsive
                    display: block
    &__main
        padding-top: 64px
        padding-bottom: 64px
        padding-left: 41px
        flex: 1
        @include responsive
            padding-left: unset
    &__search-box
        width: 100%
        height: 48px
        background-color: white
        border: 1px solid #40445B
        border-radius: 500px
        padding: 16px 24px
        display: flex
        align-items: center
        margin-bottom: 48px
        img
            width: 24px
            height: 24px
            object-fit: contain
            margin-right: 10px
        input
            flex: 1
            font-weight: 400
            font-size: 16px
            line-height: 33px
            letter-spacing: -0.02em
            color: #40445B
            &:focus
                border: unset
                outline: none !important
    h1
        margin: unset
        margin-bottom: 16px
        font-weight: 700
        font-size: 40px
        line-height: 130%
        letter-spacing: -0.05em
        color: #40445B
        font-family: d-din-exp, sans-serif
        @include responsive 
            font-size: 36px
    h2
        @extend h1
        font-size: 24px
    p
        margin: auto
        width: 100%
        margin-bottom: 32px
        font-weight: 400
        font-size: 16px
        line-height: 180%
        letter-spacing: -0.05em
        color: #40445B
    &__placeholder
        width: 100%
        object-fit: contain
    &__tab
        width: 100%
        margin-bottom: 24px
        &__btn-group
            display: flex
            justify-content: flex-start
        &__btn
            background-color: rgba(237, 237, 237, 1)
            padding: 8px 41px
            cursor: pointer
            font-weight: 400
            font-size: 17px
            line-height: 130%
            letter-spacing: -0.05em
            color: #40445B
            &:first-child
                border-radius: 16px 0 0 0
            &:last-child
                border-radius: 0 16px 0 0
            &.active, &:hover
                background-color: rgba(249, 249, 249, 1)
        &__main-group
            background-color:  rgba(249, 249, 249, 1)
            border-radius: 0 0 16px 16px
            padding: 24px
        &__main
            display: none
            font-weight: 400
            font-size: 16px
            line-height: 150%
            letter-spacing: -0.05em
            color: #5451EE
            &.active
                display: block
            pre
                overflow-x: auto
                white-space: pre-wrap
                white-space: -moz-pre-wrap
                white-space: -pre-wrap
                white-space: -o-pre-wrap
                word-wrap: break-word
    &__table
        margin-bottom: 24px
        &__item
            display: grid
            grid-template-columns: 108px 1fr
            grid-template-rows: 1fr
            grid-column-gap: 10px
            grid-row-gap: 10px
        &__title
            font-weight: 400
            font-size: 16px
            line-height: 150%
            letter-spacing: -0.05em
            color: #5451EE
        &__detail 
            p 
                flex: 1
                margin: unset
                font-weight: 400
                font-size: 16px
                line-height: 180%
                letter-spacing: -0.05em
                color: #40445B
                margin-bottom: 0.5em
    &__list-group
        padding-left: 10px
        margin-bottom: 24px
        li
            font-weight: 400
            font-size: 16px
            line-height: 180%
            letter-spacing: -0.05em
            color: #40445B
    .special-text
        color: #07784F
    .warning-text
        color: #FF0000

