@font-face 
    font-family: d-din
    src: url("assets/ddin/DDIN.otf") format("opentype")
@font-face 
    font-family: d-din-bold
    src: url("assets/ddin/DDINBold.otf") format("opentype")
@font-face 
    font-family: d-din-exp
    src: url("assets/ddin/DDINExp.otf") format("opentype")

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap')