.header-landing
    @extend .section
    background: url('assets/landing-bg-right.svg') no-repeat, url('assets/landing-bg-left.svg') no-repeat
    background-position: 131%, 0 0
    background-size: 70vw, auto
    padding-top: 201px
    padding-bottom: 170px
    @include responsive-xxl
        background-position: 100% 20%, 0 0 !important
        background-size: 60vw, auto
        padding-bottom: 130px
    @include responsive-xl
        background-position: 150%, 0 0 !important
        background-size: 73vw, 54%
    @include responsive-l
        background-position: 184%, -11% 0 !important
        background-size: 77vw, 58%
        padding-bottom: 120px
    @include responsive
        background: url('assets/landing-bg-left.svg') no-repeat
        background-position: -11% 0 !important
        background-size: 68%
        padding-top: 120px
    &__content
        max-width: 470px
        width: 100%
        h1
            margin: unset
            margin-bottom: 8px
            font-weight: 700
            font-size: 80px
            line-height: 110%
            letter-spacing: -0.02em
            text-transform: capitalize
            color: #063F6A
            font-family: 'DM Sans', sans-serif
            @include responsive
                font-size: 62px
            span
                background: linear-gradient(85.6deg, #5763CD -25.13%, #3CDBE5 111.73%)
                background-clip: text
                color: transparent
        p
            font-weight: 400
            font-size: 16px
            line-height: 180%
            letter-spacing: -0.05em
            color: #767A8B
            margin: unset
            font-family: d-din-exp, sans-serif
            margin-bottom: 24px
        &__btn-group
            display: flex
            flex-direction: row
            justify-items: center
            @include responsive
                justify-content: space-between
        &__btn
            background: #063F6A
            border-radius: 8px
            font-weight: 700
            font-size: 16px
            line-height: 140%
            letter-spacing: -0.02em
            text-transform: capitalize
            color: #F5F8FB
            padding: 13px 24px
            margin-right: 24px
            font-family: d-din-exp, sans-serif
            text-align: center
            @include responsive
                margin-right: unset
                width: 48%
            &:hover
                opacity: 0.7
            &.border
                color: #000000
                background: white
                border: 1px solid #000000
                &:hover
                    color: white
                    background: #063F6A
                    border: 1px solid #063F6A


.partner-section
    background-color: rgba(25, 83, 131, 1)
    padding: 92px 0
    .container
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        @include responsive
            display: grid
            grid-template-columns: repeat(1, 1fr)
            grid-template-rows: 1fr
            grid-column-gap: 20px
            grid-row-gap: 30px
            width: 100%
            a
                display: flex
                justify-content: center


.box-grid-section
    @extend .section
    background-color: rgba(25, 83, 131, 1)
    padding: 92px 0
    .container
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-template-rows: 1fr
        grid-column-gap: 30px
        grid-row-gap: 30px
        @include responsive
            grid-template-columns: repeat(1, 1fr)
        .box-grid-item
            padding: 48px 40px
            border-radius: 24px
            background: url('assets/landing-box-bg.png') no-repeat, #235E8F
            background-position: center
            background-size: 100% auto
            display: flex
            align-items: center
            @include responsive
                padding: 28px 20px
            img
                margin-right: 20px
                width: 80px
                height: 80px
                object-fit: contain
                @include responsive
                    margin-right: 15px
            &__content
                display: flex
                flex-direction: column
                align-items: start
                label
                    background: rgba(255, 255, 255, 0.15)
                    border-radius: 39px
                    padding: 2px 16px
                    font-weight: 400
                    font-size: 17px
                    line-height: 130%
                    letter-spacing: -0.05em
                    font-family: d-din, sans-serif
                    color: #FFFFFF
                    span
                        font-family: d-din-bold, sans-serif
                        font-weight: 700
                h3
                    margin: unset
                    margin-top: 10px
                    font-family: d-din
                    font-weight: 700
                    font-size: 28px
                    line-height: 130%
                    letter-spacing: -0.05em
                    text-transform: uppercase
                    color: #FFFFFF


.poin-section
    @extend .section
    padding-top: 118px
    background-color: white
    padding-bottom: 120px
    .container
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-template-rows: 1fr
        grid-column-gap: 30px
        grid-row-gap: 30px
        @include responsive
            grid-template-columns: repeat(1, 1fr)
        .poin-item
            display: flex
            flex-direction: column
            align-items: center
            padding: 48px 18px
            background: #FFFFFF
            border-radius: 25px
            border: 1px solid transparent
            box-shadow: 0px 64px 64px -48px rgba(15, 15, 15, 0)
            transition: all 200ms ease
            &__img
                img
                    width: 83px
                    height: 83px
                    margin-bottom: 24px
                    padding: 20px
                    background: rgba(48, 134, 199, 0.1)
                    border-radius: 9px
                    &.white
                        display: none
                    &.base
                        display: block
            h2
                font-weight: 700
                font-size: 20px
                line-height: 130%
                text-align: center
                font-family: d-din-bold, sans-serif
                letter-spacing: -0.05em
                color: #40445B
                margin: unset
                margin-bottom: 16px
            p
                margin: unset
                font-weight: 400
                font-size: 16px
                line-height: 180%
                text-align: center
                letter-spacing: -0.05em
                color: rgba(64, 68, 91, 0.7)
                font-family: d-din-exp, sans-serif
            &:hover
                border: 1px solid #EAEAEA
                box-shadow: 0px 64px 64px -48px rgba(15, 15, 15, 0.1)
                .poin-item__img > img
                    background-color: #2E86C6
                .poin-item__img > .base
                    display: none
                .poin-item__img > .white
                    display: block



.intro-section
    @extend .section
    padding-bottom: 5px
    margin-bottom: 140px
    background-color: white
    border-radius: 0 0 90px 90px
    .intro-head
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-template-rows: 1fr
        grid-column-gap: 0px
        grid-row-gap: 30px
        width: 100%
        align-items: center
        margin-bottom: 76px
        @include responsive
            grid-template-columns: repeat(1, 1fr)
        h1
            margin: unset
            font-weight: 700
            font-size: 48px
            line-height: 130%
            letter-spacing: -0.05em
            color: #40445B
            font-family: d-din-bold, sans-serif
            @include responsive
                font-size: 32px
        p
            font-weight: 400
            font-size: 16px
            line-height: 180%
            letter-spacing: -0.05em
            font-family: d-din-exp, sans-serif
            color: rgba(64, 68, 91, 0.7)
    .intro-slide
        display: flex
        width: 100%
        align-items: center
        margin-bottom: 160px
        @include responsive
            flex-direction: column-reverse
        &__img
            width: 100%
            max-width: 472px
            margin-right: 29px
            object-fit: contain
            @include responsive
                margin-right: unset !important
                margin-top: 30px !important
        &__content
            flex: 1
            overflow: hidden
            @include responsive
                width: 100%
            h2
                margin: unset
                margin-bottom: 45px
                font-weight: 400
                font-size: 32px
                line-height: 130%
                letter-spacing: -0.05em
                color: #40445B
                font-family: d-din-bold, sans-serif
                @include responsive
                    font-size: 26px
        &__main
            margin-bottom: 24px
            padding-bottom: 24px
            overflow: auto
            display: flex
            flex-wrap: nowrap
            max-width: 569px
            width: 100%
            scroll-behavior: smooth
        &__arrow img
            float: left
            margin-left: 8px
            box-shadow: 0px 4px 16px rgba(134, 197, 255, 0.23)
            width: 40px
            height: 40px
            border-radius: 50%
            cursor: pointer
        &__item
            width: 234px
            margin-right: 66px
            flex-shrink: 0
            span 
                display: flex
                justify-content: center
                align-items: center
                font-weight: 700
                font-size: 18px
                line-height: 130%
                letter-spacing: -0.02em
                text-transform: capitalize
                color: #FFFFFF
                padding: 4px 10px
                font-family: 'DM Sans', sans-serif
                width: 32px
                height: 32px
                border-radius: 50%
                background-color: rgba(46, 134, 198, 1)
                margin-bottom: 16px
            p
                margin: unset
                font-weight: 400
                font-size: 16px
                line-height: 180%
                letter-spacing: -0.05em
                color: rgba(64, 68, 91, 0.7)
                font-family: d-din-exp, sans-serif



    .intro-plain
        display: flex
        width: 100%
        align-items: center
        justify-content: space-between
        margin-bottom: 160px
        @include responsive
            flex-direction: column
        img
            max-width: 472px
            width: 100%
            object-fit: contain
            @include responsive
                margin-top: 30px
        &__content
            flex: 1
            max-width: 601px
            @include responsive
                max-width: 100%
            h2 
                margin: unset
                margin-bottom: 45px
                font-weight: 400
                font-size: 32px
                line-height: 130%
                letter-spacing: -0.05em
                color: #40445B
                font-family: d-din-bold, sans-serif
            p
                margin: unset
                margin-bottom: 1em
                font-weight: 400
                font-size: 16px
                line-height: 180%
                letter-spacing: -0.05em
                color: rgba(64, 68, 91, 0.7)
                font-family: d-din-exp, sans-serif


.partner-acc
    @extend .section
    margin: auto
    margin-bottom: 120px
    &__heading
        font-weight: 700
        font-size: 32px
        line-height: 130%
        letter-spacing: -0.05em
        color: #40445B
        font-family: d-din-bold, sans-serif
        margin: unset
        margin-bottom: 44px
        text-align: center
    &__grid
        max-width: 970px
        margin: auto
        display: grid
        grid-template-columns: repeat(5, auto)
        grid-template-rows: 1fr
        grid-column-gap: auto
        grid-row-gap: 40px
        margin-bottom: 95px
        align-items: center
        @include responsive
            grid-template-columns: repeat(1, auto)
        a
            display: flex
            justify-content: center
            align-items: center
            filter: grayscale(100%)
    &__card-group
        display: grid
        grid-template-columns: repeat(4, 1fr)
        grid-template-rows: 1fr
        grid-column-gap: 30px
        grid-row-gap: 30px
        @include responsive
            grid-template-columns: repeat(1, 1fr)
    &__card
        background: #FFFFFF
        border-radius: 24px
        padding: 40px 32px
        display: flex
        flex-direction: column
        align-items: center
        img 
            width: 56px
            height: 56px
            background-color: rgba(48, 134, 199, 0.1)
            border-radius: 9px
            padding: 14px
            margin-bottom: 24px
        h2
            font-weight: 700
            font-size: 20px
            line-height: 130%
            text-align: center
            letter-spacing: -0.05em
            color: #40445B
            font-family: d-din-bold, sans-serif
            margin: unset
            margin-bottom: 16px
        p
            margin: unset
            font-weight: 400
            font-size: 16px
            line-height: 180%
            text-align: center
            letter-spacing: -0.05em
            color: rgba(64, 68, 91, 0.7)
            font-family: d-din-exp, sans-serif





