.section
	width: 100%
	margin: auto
	position: relative

.container
	max-width: 1440px
	width: 100%
	padding: 0 134px
	position: relative
	margin: auto
	@include responsive-l
		padding: 0 50px

	@include responsive
		padding: 0 30px
		max-width: 100%

.navbar
	@extend .section
	width: 100%
	position: absolute
	z-index: 5
	.container
		@extend .flex-r
		@extend .just-space
		@extend .v-center
		padding: 56px 72px
		@include responsive-l
			padding: 56px 30px
		@include responsive
			padding: 30px 20px
	.nav_logo
		max-width: 180px
		width: 100%
		img
			width: 100%
			object-fit: contain
	.nav_menu
		@extend .flex-r
		@include responsive-l
			display: none
		a:hover
			border-bottom: 2px solid rgba(64, 68, 91, 1)
		&__link
			margin: 0 10px
			color: rgba(64, 68, 91, 1)
			font-size: 16px
			line-height: 100%
			letter-spacing: -0.02em
			font-family: d-din-exp, sans-serif
			position: relative
			padding-bottom: 5px
			border-bottom: 2px solid transparent
			cursor: pointer
			@include responsive-xl
				margin: 0 10px
			@include responsive-xxl
				margin: 0 15px
			&:last-child
				margin-right: 0px
			&:first-child
				margin-left: 0px
			&:hover 
				.nav_menu__link__body
					display: flex
					flex-direction: column
				.nav_menu__link__head::after
					transform: rotate(180deg)
			&__head
				position: relative
				display: flex
				align-items: center
				padding-right: 20px
				&::after
					content: ''
					right: 0
					width: 10px
					height: 10px
					position: absolute
					background: url('assets/menu-caret.svg') no-repeat
					background-position: center
					background-size: contain
					transform: rotate(0deg)
					transition: all 200ms ease
			&__body
				display: none
				position: absolute
				top: 100%
				background-color: white
				padding: 20px
				border-radius: 10px
				right: 0
				min-width: 100px
				a
					color: #0A2753
					white-space: nowrap
					margin-bottom: 20px
					&:last-child
						margin-bottom: unset
					&:hover
						border: unset !important
						text-decoration: underline
	.nav_btn
		display: none
		cursor: pointer
		@include responsive-l
			display: block
		img
			width: 24px
			height: 24px
			object-fit: contain
		&--landing
			@include responsive-l
				.nav_btn__ico-white
					display: block
				.nav_btn__ico
					display: none
			@include responsive
				.nav_btn__ico-white
					display: none
				.nav_btn__ico
					display: block
		&--white
			@include responsive-l
				.nav_btn__ico-white
					display: block
				.nav_btn__ico
					display: none
		&__ico-white
			display: none
		&__content
			display: none
			background-color: white
			position: fixed
			top: 0
			left: 0
			width: 100vw
			height: 100vh
			z-index: 10
			img
				position: absolute
				right: 20px
				top: 30px
			&__menu
				display: flex
				flex-direction: column
				align-items: center
				width: 100%
				margin-top: 10vh
				position: relative
				padding: 0 20px
				align-items: flex-start
			&__link
				margin-bottom: 24px
				color: black
				font-size: 18px
				line-height: 100%
				letter-spacing: -0.02em
				font-family: d-din-exp	, sans-serif
				position: relative
				text-align: left
				width: 100%
				.head
					font-family: d-din-exp, sans-serif
					position: relative
					display: flex
					justify-content: space-between
					align-items: center
					width: 100%
					&.active
						color: rgba(25, 83, 131, 1)
						font-weight: 700
						&::after
							transform: rotate(180deg)
					&::after
						content: ''
						position: relative
						width: 15px
						height: 15px
						margin-left: 10px
						background: red
						transform: rotate(0deg)
						transition: all 200ms ease
						z-index: 3
						background: url('assets/menu-caret.svg') no-repeat
						background-position: center
						background-size: contain
				.body
					display: flex
					flex-direction: column
					align-items: start
					transition: height 200ms ease
					max-height: 0
					overflow: hidden
					transition: all 200ms ease
					padding: 0px 16px
					background: #195383
					border-radius: 8px
					&.active
						margin-top: 16px
						padding: 24px 16px
					a
						font-size: 18px
						color: white
						margin-bottom: 29px
	&--white
		.nav_menu a:hover
			border-bottom: 2px solid white
		.nav_menu__link
			color: white
		.nav_menu__link__head::after
			background: url('assets/menu-caret-white.svg') no-repeat
			background-position: center
			background-size: contain


.footer
	@extend .section
	background: url('assets/footer-bg.png') no-repeat,rgba(18, 104, 169, 1)
	background-position: top right
	background-size: auto 100%
	&__top
		width: 100%
		padding-top: 72px
		padding-bottom: 61px
		border-bottom: 1px solid rgba(255, 255, 255, 0.06)
		display: flex
		flex-direction: row
		justify-content: space-between
		@include responsive-l
			flex-direction: column
	&__bot
		padding-top: 33px
		padding-bottom: 48px
		display: flex
		justify-content: space-between
		align-items: center
		@include responsive
			flex-direction: column
	&__company
		max-width: 370px
		width: 100%
		@include responsive-l
			margin-bottom: 30px
		a
			display: block
			margin-bottom: 16px
			img
				max-width: 180px
				width: 100%
				object-fit: contain
		p
			margin: unset
			font-weight: 400
			font-size: 14px
			line-height: 28px
			color: #FFFFFF
			opacity: 0.5
			width: 100%
	&__menu-group
		width: 100%
		display: flex
		justify-content: space-between
		max-width: 669px
		@include responsive
			max-width: unset
			flex-wrap: wrap
	&__menu
		display: flex
		flex-direction: column
		@include responsive
			margin-bottom: 20px
			margin-right: 20px
		&__title
			margin-bottom: 15px
			font-weight: 400
			font-size: 16px
			line-height: 28px
			color: #FFFFFF
		&__link
			font-weight: 400
			font-size: 16px
			line-height: 17px
			color: #FFFFFF
			opacity: 0.5
			margin-bottom: 16px
			&:hover
				text-decoration: underline
	&__copy
		display: flex
		font-weight: 400
		font-size: 14px
		line-height: 15px
		color: #FFFFFF
		@include responsive
			margin-bottom: 40px
			flex-direction: column
			align-items: center
		span
			margin-right: calc( 0.1 * 1440px)
			@include responsive
				margin-right: unset
				margin-bottom: 20px
				text-align: center
		a
			color: inherit
			margin-right: 42px
			&:hover
				text-decoration: underline
			&:last-child
				margin-right: unset
	&__social-group
		display: flex
		a
			display: block
			width: 35px
			height: 35px
			border-radius: 50%
			border: 1px solid rgba(255, 255, 255, 0.1)
			margin-left: 15px
			display: flex
			justify-content: center
			align-items: center
			padding: 11px
			&:first-child
				margin-left: unset
			img
				width: 100%
				height: 100%
				object-fit: contain

.line-big
	position: relative
	&::after
		width: 105px
		position: absolute
		top: calc(100% + 16px)
		content: ''
		height: 8px
		background-color: rgba(46, 134, 198, 1)
		left: 0
		border-radius: 23px

.line-small
	@extend .line-big
	&::after
		width: 71px
		height: 5px
		position: absolute
		top: calc(100% + 16px)
		content: ''
		background-color: rgba(46, 134, 198, 1)
		left: 0
		border-radius: 23px
				
