.header-section
    @extend .section
    padding-top: 192px
    padding-bottom: 232px
    background: url('assets/header-bg.png') no-repeat, rgba(245, 248, 251, 1)
    background-position: top
    background-size: 100% auto
    .container > &__heading
        margin: auto
        text-align: center
        font-weight: 700
        font-size: 80px
        line-height: 110%
        text-align: center
        letter-spacing: -0.02em
        text-transform: capitalize
        font-family: d-din-bold, sans-serif
        color: #0A2753
        max-width: 703px
        width: 100%
        @include responsive
            font-size: 62px
        span
            background: linear-gradient(85.6deg, #5763CD -25.13%, #3CDBE5 111.73%)
            background-clip: text
            color: transparent


.blue-box-section
    @extend .section
    background-color: rgba(25, 83, 131, 1)
    height: 119px
    z-index: 2
    .container
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        top: -184px
    &__img
        width: 100%
        height: 422px
        object-fit: cover
        background-color: whitesmoke
    &__content
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-template-rows: 1fr
        grid-column-gap: 62px
        grid-row-gap: 20px
        margin-top: 48px
        width: 100%
        @include responsive
            grid-template-columns: repeat(1, 1fr)
        p
            margin: unset
            font-weight: 400
            font-size: 16px
            line-height: 180%
            letter-spacing: -0.05em
            font-family: d-din-exp, sans-serif
            color: rgba(64, 68, 91, 0.7)


.data-platform-section
    @extend .section
    padding-bottom: 132px
    padding-top: 416px
    border-radius: 0 0 90px 90px
    background-color: white
    @include responsive
        padding-top: 700px
    &__head-group
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-template-rows: 1fr
        grid-column-gap: 62px
        grid-row-gap: 10px
        width: 100%
        margin-bottom: 40px
        align-items: center
        @include responsive 
            grid-template-columns: repeat(1, 1fr)
        h1 
            margin: unset
            font-weight: 700
            font-size: 48px
            line-height: 130%
            letter-spacing: -0.05em
            color: #40445B
            font-family: d-din-bold, sans-serif
            max-width: 473px
            @include responsive
                font-size: 32px
        p
            font-weight: 400
            font-size: 16px
            line-height: 180%
            letter-spacing: -0.05em
            font-family: d-din-exp, sans-serif
            color: rgba(64, 68, 91, 0.7)
    &__img
        height: 432px
        width: 100%
        background-color: whitesmoke
        object-fit: cover
        margin-bottom: 48px
    &__detail
        margin: auto
        font-weight: 400
        font-size: 16px
        line-height: 180%
        text-align: center
        letter-spacing: -0.05em
        color: rgba(64, 68, 91, 0.7)
        max-width: 894px
        width: 100%
        font-family: d-din-exp, sans-serif


.advantage-section
    @extend .section
    margin-top: 160px
    padding-bottom: 160px
    &__heading
        margin: auto
        margin-bottom: 77px
        font-weight: 700
        font-size: 48px
        line-height: 130%
        letter-spacing: -0.05em
        color: #40445B
        text-align: center
        font-family: d-din-bold, sans-serif
        @include responsive
            font-size: 32px
    &__group
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-template-rows: 1fr
        grid-column-gap: 30px
        grid-row-gap: 77px
        width: 100%
        max-width: 970px
        margin: auto
        @include responsive
            grid-template-columns: repeat(1, 1fr)
    &__item
        background-color: white
        border: 1px solid #EAEAEA
        box-shadow: 0px 64px 64px -48px rgba(15, 15, 15, 0.1)
        border-radius: 25px
        padding: 32px
        padding-top: 51px
        position: relative
        &__icon
            position: absolute
            width: 56px
            height: 56px
            background: #FFFFFF
            border: 1px solid #EAEAEA
            border-radius: 16px
            left: 32px
            top: -29px
            padding: 16px
            img
                width: 100%
                object-fit: contain
        &__title
            margin-bottom: 16px
            font-weight: 700
            font-size: 20px
            line-height: 130%
            letter-spacing: -0.05em
            color: #40445B
            font-family: d-din-bold, sans-serif
        &__detail
            font-weight: 400
            font-size: 16px
            line-height: 33px
            letter-spacing: -0.05em
            color: #797C8C
            font-family: d-din-exp, sans-serif


.distributed-section
    @extend .section
    background-color: #195383
    padding: 120px 0
    &__heading
        margin: auto
        margin-bottom: 24px
        font-weight: 700
        font-size: 48px
        line-height: 130%
        letter-spacing: -0.05em
        color: #FFFFFF
        text-align: center
        font-family: d-din-bold, sans-serif
        @include responsive
            font-size: 32px
    &__detail
        width: 100%
        max-width: 970px
        margin: auto
        font-weight: 400
        font-size: 16px
        line-height: 180%
        text-align: center
        letter-spacing: -0.05em
        color: rgba(255, 255, 255, 0.7)
        font-family: d-din-exp, sans-serif



.clud-abstract-section 
    @extend .section
    padding: 160px 0
    .container
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-template-rows: 1fr
        grid-column-gap: 77px
        grid-row-gap: 48px
        align-items: center
        @include responsive
            grid-template-columns: repeat(1, 1fr)
    &__content 
        h1
            margin: unset
            margin-bottom: 16px
            font-weight: 700
            font-family: d-din-bold, sans-serif
            font-size: 48px
            line-height: 130%
            letter-spacing: -0.05em
            color: #40445B
            @include responsive
                font-size: 32px
        p
            font-weight: 400
            font-size: 16px
            line-height: 33px
            letter-spacing: -0.05em
            color: #797C8C
            font-family: d-din-exp, sans-serif
    &__img img
        width: 100%
        object-fit: contain
        background-color: whitesmoke
        height: 361px


.policy-section
    @extend .section
    .policy-card
        background: url('assets/policy-card-bg.png') no-repeat, linear-gradient(85.6deg, #5763CD -25.13%, #3CDBE5 111.73%)
        background-position: top
        background-size: 100% auto
        border-radius: 24px
        padding: 120px 50px
        @include responsive
            padding: 80px 30px
        h1 
            margin: unset
            margin-bottom: 16px
            font-weight: 700
            font-family: d-din-bold, sans-serif
            font-size: 48px
            line-height: 130%
            letter-spacing: -0.05em
            color: #FFFFFF
            text-align: center
            @include responsive
                font-size: 32px
        p
            margin: auto
            font-weight: 400
            font-size: 16px
            line-height: 180%
            letter-spacing: -0.05em
            color: rgba(255, 255, 255, 0.7)
            width: 100%
            text-align: center
            max-width: 830px
            font-family: d-din-exp, sans-serif

.step-section
    @extend .section
    @extend .clud-abstract-section
    &__content 
        @extend .clud-abstract-section__content
    &__img 
        @extend .clud-abstract-section__img
    






