doctype html
html(lang="en-GB")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Documentation - Cloudbackend
		link(rel="stylesheet" href="main.css")
		script(src="js/nav.js")
	body
		include parts/navbar_white.pug

		.documentation-header
			.container
				h1.documentation-header__title SDK API wide overview
				.documentation-header__subtitle Version 14.3

		.documentation-content 
			.container 
				.documentation-content__side 
					.documentation-content__side__link(onclick="toggleExpand()") 
						span Expand All
						img(src="assets/menu-caret-grey.svg", alt="")
					.documentation-content__side__link-group
						a.documentation-content__side__link(href="").active Document overview
						a.documentation-content__side__link(href="") Classes
						a.documentation-content__side__link(href="") CloudBackend
						a.documentation-content__side__link(href="") Language specifics
						a.documentation-content__side__link(href="") Getting Stared
						a.documentation-content__side__link(href="") Advanced Querying
						a.documentation-content__side__link(href="") Listeners
						a.documentation-content__side__link(href="") CloudBackend class Utility
						a.documentation-content__side__link(href="") class Account
						a.documentation-content__side__link(href="") class Container
						a.documentation-content__side__link(href="") class ShareManager
						a.documentation-content__side__link(href="") class Item
						a.documentation-content__side__link(href="") class Object
						a.documentation-content__side__link(href="") class Query Result
						a.documentation-content__side__link(href="") class Filter
						a.documentation-content__side__link(href="") Synchronous vs. Asyncronous
				.documentation-content__main 
					.documentation-content__search-box
						img(src="assets/search-ico.svg", alt="") 
						input(type="text" placeholder="Search")
					h1 H1 title
					h2 H2 title
					p Paragraph content. he following API document will give an overview on how to use the different backend calls in the SDK of CloudBackend (CBE). Select the tab of your language of interest to view the code and added usage examples. This will then select what is printed. This document should be used in conjunction with the SDK tutorial and QUERY user guide.


					h1 Tab
					p Paragraph content. he following API document will give an overview on how to use the different backend calls in the SDK of CloudBackend (CBE). Select the tab of your language of interest to view the code and added usage examples. This will then select what is printed. This document should be used in conjunction with the SDK tutorial and QUERY user guide.


					.documentation-content__tab
						.documentation-content__tab__btn-group
							.documentation-content__tab__btn.active#btn-1(onclick="toggleTab('1')") Java
							.documentation-content__tab__btn#btn-2(onclick="toggleTab('2')") C++
						.documentation-content__tab__main-group
							.documentation-content__tab__main.active#main-1
								pre CloudBackend cbobj = CloudBackend.logIn(username, password, tenant, delegate)
							.documentation-content__tab__main#main-2
								pre
									| cbobj.account();
									| cbobj.account().rootContainer();


					h1 Table
					h2 h2 with <span class="special-text">special text</span>
					h2 h2 with <span class="warning-text">warning text</span>
					.documentation-content__table
						.documentation-content__table__item
							.documentation-content__table__title containerId
							.documentation-content__table__detail
								p is the numeric id for the container you want to query. This would need to be retrieved from the parent container. <br> See Account for root container id.
						.documentation-content__table__item
							.documentation-content__table__title delegate
							.documentation-content__table__detail
								p uses callback <span class="special-text">onQueryLoaded()</span> or <span class="special-text">onLoadError()</span> in class ItemEventProtocol


					h1 Dotted list
					ul.documentation-content__list-group
						li.documentation-content__list Account currently offers access to a root container and has additional information on the account like the users first and last name.
						li.documentation-content__list The rootContainer is a useful starting point that can then be used to query, create and perform other functions.
						li.documentation-content__list The account is returned by the instance of CloudBackend you received when calling <span class="special-text">logIn()</span>.
						li.documentation-content__list The rootContainer for the account is a good place for you to start querying or creating data.
					
					h1 Documentation placeholder img
					img.documentation-content__placeholder(src="assets/documentation-placeholder.png", alt="")
						


		include parts/footer.pug

		script(src="js/documentation.js")





