doctype html
html(lang="en-GB")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Cloudbackend
		link(rel="stylesheet" href="main.css")
		script(src="js/nav.js")
	body 

		include parts/navbar_landing.pug

		.header-landing 
			.container
				.header-landing__content 
					h1 The Singularity <span>Database</span>
					p Enabling a world where everything is connected and accelerated by providing the data and identity service that makes AI, analytics, and decentralized edge compute work.
					.header-landing__content__btn-group
						a.header-landing__content__btn(href="") Find Out More
						a.header-landing__content__btn.border(href="") Find Out More

		//- .partner-section 
		//- 	.container
		//- 		a(href="")
		//- 			img(src="assets/partner-img1.svg", alt="") 
		//- 		a(href="")
		//- 			img(src="assets/partner-img2.svg", alt="") 
		//- 		a(href="")
		//- 			img(src="assets/partner-img3.svg", alt="") 
		//- 		a(href="")
		//- 			img(src="assets/partner-img4.svg", alt="") 
		//- 		a(href="")
		//- 			img(src="assets/partner-img5.svg", alt="") 
		//- 		a(href="")
		//- 			img(src="assets/partner-img6.svg", alt="")


		.box-grid-section 
			.container
				.box-grid-item
					img(src="assets/landing-box-ico1.svg", alt="")
					.box-grid-item__content 
						label For
							span end-user
						h3 
							| Accelerated 
							br 
							| APPs & loT
				.box-grid-item
					img(src="assets/landing-box-ico2.svg", alt="")
					.box-grid-item__content 
						label When
							span Operating
						h3 
							| Policy 
							br 
							| Driven
				.box-grid-item
					img(src="assets/landing-box-ico3.svg", alt="")
					.box-grid-item__content 
						label For 
							span Compliance
						h3 
							| Global 
							br
							| Geo-Fencing

		.poin-section 
			.container
				.poin-item
					.poin-item__img
						img(src="assets/landing-poin1.svg", alt="").base
						img(src="assets/landing-poin1-white.svg", alt="").white
					h2 Distributed Data Management
					p A managed service that solves identity and data management; availability, synchronization, data security, and enables edge cloud computing specialized for the demanding requirements of a decentralized connected world.
				.poin-item
					.poin-item__img
						img(src="assets/landing-poin2.svg", alt="").base
						img(src="assets/landing-poin2-white.svg", alt="").white
					h2 Edge Computing Applications
					p Our no-code data layer APIs are not only meant to be used by containers and server code, they are safe to be directly called from mobile devices, web user interfaces, or third party software (ecosystem).
				.poin-item
					.poin-item__img
						img(src="assets/landing-poin3.svg", alt="").base
						img(src="assets/landing-poin3-white.svg", alt="").white
					h2 SDK And Self-Service Portal
					p Our low-code SDK is designed to allow customer onboarding through a policy governed self-service portal while ensuring seamless network discovery of the distributed edge data.

		.intro-section 
			.container
				.intro-head
					h1.line-big Introduction
					p The Edge Database Platform as a Service (Edge dbPaaS) provided by CloudBackend is a fully managed service to enable any application or hardware with edge acceleration for data harvesting or distribution at low development and operational cost.
				.intro-slide 
					img.intro-slide__img(src="assets/landing-img1.png", alt="")
					.intro-slide__content 
						h2.line-small Edge acceleration as a Service
						.intro-slide__main#slide-container-1 
							.intro-slide__item 
								span 1
								p Empowering developers with a no-code development environment to define its distributed data backbone and backend, while still enabling any data model
							.intro-slide__item 
								span 2
								p Empowering developers with a no-code development environment to define its distributed data backbone and backend, while still enabling any data model
							.intro-slide__item 
								span 3
								p Empowering developers with a no-code development environment to define its distributed data backbone and backend, while still enabling any data model
						.intro-slide__arrow
							img(src="assets/arrow-left.svg", alt="" onclick="scrollSlide(1,false)")
							img(src="assets/arrow-right.svg", alt="" onclick="scrollSlide(1,true)")
				.intro-plain
					.intro-plain__content 
						h2.line-small Develop with endless scalability
						p Our platform manages deployment, operations, and scaling of required resources as well as handles everything from central coordination of data, issuing of identities, and the decentralization of the cloud into multi-cloud, multi-region, multi-edge, using policies. 
						p Completely abstracting the underlying infrastructure and orchestration from developers, which work with the entire Edge dbPaaS through an intelligent low-code SDK with a programming model of a virtual database — the intermediate data layer.
					img(src="assets/landing-img2.png", alt="")
				.intro-slide 
					img.intro-slide__img(src="assets/landing-img3.png", alt="")
					.intro-slide__content 
						h2.line-small Industrializing data across cloud and edge
						.intro-slide__main#slide-container-2 
							.intro-slide__item 
								span 1
								p Empowering developers with a no-code development environment to define its distributed data backbone and backend, while still enabling any data model
							.intro-slide__item 
								span 2
								p Empowering developers with a no-code development environment to define its distributed data backbone and backend, while still enabling any data model
							.intro-slide__item 
								span 3
								p Empowering developers with a no-code development environment to define its distributed data backbone and backend, while still enabling any data model
						.intro-slide__arrow
							img(src="assets/arrow-left.svg", alt="" onclick="scrollSlide(2,false)")
							img(src="assets/arrow-right.svg", alt="" onclick="scrollSlide(2,true)")
				.intro-plain
					.intro-plain__content 
						h2.line-small Edge Native as the new default
						p CloudBackend handles the orchestration of data, data availability, and API access to data at multiple levels end-to-end, from the consumer all the way up to the public cloud including everything in between and along the way. 
						p Our powerful intermediate data layer shardes (slices) data to make sure that not all data is replicated across the edge and cloud, allowing policies and geo-fencing to decide how information is distributed or harvested, while leaving business decisions to govern the intelligent management of data at global scale.
					img(src="assets/landing-img4.png", alt="")
		
		.partner-acc
			.container 
				h1.partner-acc__heading Partners & Accelerators
				.partner-acc__grid
					a(href="") 
						img(src="assets/partner-ico1.svg", alt="")
					a(href="") 
						img(src="assets/partner-ico2.svg", alt="")
					a(href="") 
						img(src="assets/partner-ico3.svg", alt="")
					a(href="") 
						img(src="assets/partner-ico4.svg", alt="")
					a(href="") 
						img(src="assets/partner-ico5.svg", alt="")
					a(href="") 
						img(src="assets/partner-ico6.svg", alt="")
					a(href="") 
						img(src="assets/partner-ico7.svg", alt="")
					a(href="") 
						img(src="assets/partner-ico8.svg", alt="")
					a(href="") 
						img(src="assets/partner-ico9.svg", alt="")
					a(href="") 
						img(src="assets/partner-ico10.svg", alt="")
				.partner-acc__card-group
					.partner-acc__card
						img(src="assets/partner-card-ico1.svg", alt="")
						h2 Distributed
						p Our Edge dbPaaS run and accelerates inside public cloud providers, on-premise data centers, hardware devices, and inside mobile apps
					.partner-acc__card
						img(src="assets/partner-card-ico2.svg", alt="")
						h2 Trusted
						p A true secure multi-tenant data layer were each identities data is shielded, encrypted and managed across all edge nodes with privacy by design
					.partner-acc__card
						img(src="assets/partner-card-ico3.svg", alt="")
						h2 Orchestrated
						p Through policies each edge data node is always kept up to date with all distributed data, ready to process any API call it receives at scale
					.partner-acc__card
						img(src="assets/partner-card-ico4.svg", alt="")
						h2 Industrialized
						p High innovation by abstracting the entire data layer into a multi-tenant generic stateless microservice API that scale as containers


		include parts/footer.pug
		
		script(src="js/index.js")





