doctype html
html(lang="en-GB")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Subpage - Cloudbackend
		link(rel="stylesheet" href="main.css")
		script(src="js/nav.js")
	body
		include parts/navbar.pug

		.header-section
			.container
				h1.header-section__heading The <span>Intermediate</span> Data Layer

		.blue-box-section 
			.container
				img.blue-box-section__img(src="", alt="")
				.blue-box-section__content
					p CloudBackend provides a thin intermediate distributed data layer that saves time and money while developing and enables Edge Native, multi-cloud, multi-region solutions with low latency and world-wide coverage. The technology supports many verticals and helps reducing operational and development cost.
					p Save 100% on the data backend developments with the no-code service and up to 70% on client-side development with the low-code SDK. Same client code gives multi-region, multi-cloud, edge computing and data management. CloudBackend offers a fully managed service with no DevOps or NOC. 

		
		.data-platform-section 
			.container
				.data-platform-section__head-group
					h1 Edge Database Platform as a Service
					p The Edge Database Platform as a Service (Edge dbPaaS) provided by CloudBackend is a one-stop shop to enable any application or service with edge cloud computing capabilities. It is a self-service Dashboard which enables the configuration of the distributed network, data models, security policies, user accounts and groups, payment plans, data sharing, data replication and geographical boundaries.
				img.data-platform-section__img(src="", alt="")
				p.data-platform-section__detail For many applications the functionality of the Edge dbPaaS will include all functionality needed to build a Software as a Service (SaaS), mobile app or IoT solution. The capabilities of the Edge dbPaaS can be endlessly extended in the cloud or within clients, or anywhere in between, using the included Software Development Kit (SDK). If required, the service can also be extended at the edge through the use of edge Kubernetes platforms that then will leverage CloudBackend as a stateful data supplier.

		
		.advantage-section 
			.container
				h1.advantage-section__heading Advantages of Edge dbPaaS
				.advantage-section__group 
					.advantage-section__item
						.advantage-section__item__icon
							img(src="assets/advantage-icon1.svg", alt="")
						.advantage-section__item__title Save Money
						.advantage-section__item__detail Enables growth and immediate edge benefits by device acceleration with lower latencies as the network of edge nodes is built out globally across public cloud regions and telecom networks
					.advantage-section__item
						.advantage-section__item__icon
								img(src="assets/advantage-icon2.svg", alt="")
						.advantage-section__item__title Fast Time-To-Market
						.advantage-section__item__detail Abstracts all complexity of utilizing global edge cloud capacity and up to 75% time savings increases competitiveness
					.advantage-section__item
						.advantage-section__item__icon
								img(src="assets/advantage-icon3.svg", alt="")
						.advantage-section__item__title Reduces Complexity and Operational cost
						.advantage-section__item__detail Serverless Edge dbPaaS with No backend or API development and zero network code in clients makes building applications faster and more secure
					.advantage-section__item
						.advantage-section__item__icon
								img(src="assets/advantage-icon4.svg", alt="")
						.advantage-section__item__title World wide coverage
						.advantage-section__item__detail Enables growth and immediate edge benefits by device acceleration with lower latencies as the network of edge nodes is built out globally across public cloud regions and telecom networks


		.distributed-section 
			.container 
				h1.distributed-section__heading Distributed Data Management
				p.distributed-section__detail CloudBackend enables the development of services and applications that have its data and backend logic (API) geographically distributed around the world in order to be as close as possible to the service consumers (subscribers). Distributed services have the benefit of both accelerating the user experience when distributing and accessing data, while enabling local data processing and filtering when harvesting data. This enables applications to be built for offline-first and allow services to continue to operate even if the network connection is intermittent or unavailable for a longer period. CloudBackend's service automatically synchronizes data and makes sure the right data is available to work with — the SDK keeps all query results and objects as live updated data.


		.clud-abstract-section 
			.container
				.clud-abstract-section__content
					h1 Cloud & Edge Abstraction
					p The CloudBackend Edge dbPaaS is designed to enable everyone from a single mobile app developer to large enterprises to make use of edge cloud computing. This is possible since all the complexities or orchestrating program code and data across hundreds or thousands of nodes is removed — it is managed by the service and hidden by the SDK.
				.clud-abstract-section__img 
					img(src="", alt="")

		.policy-section
			.container
				.policy-card
					h1 Policy Driven Replication
					p The CloudBackend Edge dbPaaS allows control by policies over how information is synchronized to different network topology levels, what data should be cached at each level, what data should stay at that level, and what data should be sent further up in the network topology until finally reaching the core. At each level the replication level can also be configured, allowing control over data accessibility and reliability. Backup replication can also be done to a tenant's own on-premise data center.

		
		.step-section 
			.container
				.step-section__img 
					img(src="", alt="")
				.step-section__content
					h1 Step by step roll-out to the Edge
					p A guiding thought has been to make the edge accessible to the mainstream and make Edge Native common practice. In order to do so, the Edge dbPaaS needs to be possible to start using without using the edge, but as a Cloud Native or multi-cloud solution to later add more distributed capabilities as needed.
					p This is as important from the developer perspective, as it is important for the telco operators, local cloud operators, and peering point providers that also need to build out edge computing capacity in a step wise manner. 



		include parts/footer.pug





