.footer 
    .container
        .footer__top
            .footer__company 
                a(href="") 
                    img(src="assets/logo-white.png", alt="")
                p CloudBackend provides a world-wide service for accelerating applications and harvesting data through a global distributed edge data layer with intelligent data management.
            .footer__menu-group
                .footer__menu
                    .footer__menu__title CloudBacked
                    a.footer__menu__link(href="") Home
                    a.footer__menu__link(href="") Developer
                    a.footer__menu__link(href="") Verticals
                    a.footer__menu__link(href="") Company
                    a.footer__menu__link(href="") Career
                    a.footer__menu__link(href="") Press
                .footer__menu
                    .footer__menu__title Our Sevices
                    a.footer__menu__link(href="") The Intermediate Data Layer
                    a.footer__menu__link(href="") Edge Database Paas
                    a.footer__menu__link(href="") Advantages od Edge dbPaaS
                    a.footer__menu__link(href="") Distributed Data Management
                    a.footer__menu__link(href="") Cloud & Edge Abstraction
                    a.footer__menu__link(href="") Step by step roll-out to the Edge
                .footer__menu
                    .footer__menu__title Technology
                    a.footer__menu__link(href="") Dashboard
                    a.footer__menu__link(href="") Node Replication
                    a.footer__menu__link(href="") No-Code Edge dbPaaS
                    a.footer__menu__link(href="") Stateful Edge
                    a.footer__menu__link(href="") SDK
                    a.footer__menu__link(href="") Core functionalities
                    a.footer__menu__link(href="") Documentation
        .footer__bot
            .footer__copy
                span Made in Sweden. Copyright © CloudBackend AB @ 2022.
                .footer__menu-page
                    a(href="") Terms
                    a(href="") Privacy
                    a(href="") Cookies
            .footer__social-group 
                a(href="") 
                    img(src="assets/linked-ico.svg", alt="")
                a(href="") 
                    img(src="assets/facebook-ico.svg", alt="")
                a(href="") 
                    img(src="assets/twitter-ico.svg", alt="")