.navbar.navbar--white
    .container
        a(href="").nav_logo
            img(src="assets/logo-2.png", alt="")
        .nav_menu
            a(href="").nav_menu__link Home
            a(href="").nav_menu__link Developer
            .nav_menu__link
                .nav_menu__link__head Service
                .nav_menu__link__body
                    a(href="") The Intermediate Data Layer
                    a(href="") Edge Database Platform as a Service
                    a(href="") Advantages of Edge dbPaaS
                    a(href="") Distributed Data Management
                    a(href="") Cloud & Edge Abstraction
                    a(href="") Policy Driven Replication
                    a(href="") Step by step roll-out to the Edge
            .nav_menu__link
                .nav_menu__link__head Verticals
                .nav_menu__link__body
                    a(href="") Automotive
                    a(href="") IoT & Automation
                    a(href="") Smart Factory
                    a(href="") AI/ML
            .nav_menu__link
                .nav_menu__link__head Technology
                .nav_menu__link__body
                    a(href="") Dashboard
                    a(href="") Node Replication
                    a(href="") No-Code Edge dbPaaS
                    a(href="") Stateful Edge
                    a(href="") SDK
                    a(href="") Core functionalities
                    a(href="") Documentation
            .nav_menu__link
                .nav_menu__link__head Company
                .nav_menu__link__body
                    a(href="") Our Mission
                    a(href="") Locations
                    a(href="") Founding Team
                    a(href="") Boards
                    a(href="") Contact
                    a(href="") Career
                    a(href="") Press
        .nav_btn.nav_btn--white 
            img.nav_btn__ico(src="assets/menu-ico.svg", alt="" onclick="toggleMenu()")
            img.nav_btn__ico-white(src="assets/menu-ico-white.svg", alt="" onclick="toggleMenu()")
            .nav_btn__content
                img(src="assets/close-ico-black.svg", alt="" onclick="toggleMenu()")
                .nav_btn__content__menu
                    a.nav_btn__content__link(href="") Home
                    a.nav_btn__content__link(href="") Developer
                    .nav_btn__content__link
                        .head(onclick="accordMenu()") Service
                        .body
                            a(href="") The Intermediate Data Layer
                            a(href="") Edge Database Platform as a Service
                            a(href="") Advantages of Edge dbPaaS
                            a(href="") Distributed Data Management
                            a(href="") Cloud & Edge Abstraction
                            a(href="") Policy Driven Replication
                            a(href="") Step by step roll-out to the Edge
                    .nav_btn__content__link
                        .head(onclick="accordMenu()") Verticals
                        .body
                            a(href="") Automotive
                            a(href="") IoT & Automation
                            a(href="") Smart Factory
                            a(href="") AI/ML
                    .nav_btn__content__link
                        .head(onclick="accordMenu()") Technology
                        .body
                            a(href="") Dashboard
                            a(href="") Node Replication
                            a(href="") No-Code Edge dbPaaS
                            a(href="") Stateful Edge
                            a(href="") SDK
                            a(href="") Core functionalities
                            a(href="") Documentation
                    .nav_btn__content__link
                        .head(onclick="accordMenu()") Company
                        .body
                            a(href="") Our Mission
                            a(href="") Locations
                            a(href="") Founding Team
                            a(href="") Boards
                            a(href="") Contact
                            a(href="") Career
                            a(href="") Press